@import 'tailwindcss';
@import './theme.css';

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer components {
  .rounded {
    border-radius: var(--radius-md);
  }
  .card {
    @apply overflow-hidden border-6 border-black bg-white shadow-md;
    border-radius: var(--radius-md);
  }
  .border-box {
    @apply border-4 border-black;
    border-radius: var(--radius-md);
  }
  .border-box-center {
    @apply flex items-center justify-center border-4 border-black;
    border-radius: var(--radius-md);
  }
}
