@layer theme {

    :root,
    :host {
        --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --color-gray-50: oklch(.985 .002 247.839);
        --color-gray-100: oklch(.967 .003 264.542);
        --color-gray-200: oklch(.928 .006 264.531);
        --color-gray-300: oklch(.872 .01 258.338);
        --color-gray-400: oklch(.707 .022 261.325);
        --color-gray-600: oklch(.446 .03 256.802);
        --color-gray-700: oklch(.373 .034 259.733);
        /* 400 is regular */
        --color-sky-100: #DAF5F0;
        --color-sky-200: #A7DBD8;
        --color-sky-300: #87CEEB;
        --color-sky-400: #69D2E7;
        --color-sky-500: #4FB3C8;
        --color-sky-600: #3694A9;
        --color-sky-700: #1D758A;

        --color-green-100: #B5D2AD;
        --color-green-200: #BAFCA2;
        --color-green-300: #90EE90;
        --color-green-400: #7FBC8C;
        --color-green-500: #65A373;
        --color-green-600: #4B8A5A;
        --color-green-700: #317141;

        --color-yellow-100: #FDFD96;
        --color-yellow-200: #FFDB58;
        --color-yellow-300: #F4D738;
        --color-yellow-400: oklab(75.161% 0.03279 0.14852);
        --color-yellow-500: #C98E15;
        --color-yellow-600: #AF7C12;
        --color-yellow-700: #956A0F;

        --color-orange-100: #F8D6B3;
        --color-orange-200: #FFA07A;
        --color-orange-300: #FF7A5C;
        --color-orange-400: #FF6B6B;
        --color-orange-500: #E55050;
        --color-orange-600: #CC3535;
        --color-orange-700: #B21A1A;

        --color-pink-100: #FCDFFF;
        --color-pink-200: #FFC0CB;
        --color-pink-300: #FFB2EF;
        --color-pink-400: #FF69B4;
        --color-pink-500: #E64D9E;
        --color-pink-600: #CC3188;
        --color-pink-700: #B31572;

        --color-purple-100: #E3DFF2;
        --color-purple-200: #C4A1FF;
        --color-purple-300: #A388EE;
        --color-purple-400: #9723C9;
        --color-purple-500: #7E1DA6;
        --color-purple-600: #651783;
        --color-purple-700: #4C1160;

        --color-red-100: #FEE2E2;
        --color-red-200: #FECACA;
        --color-red-300: #F87171;
        --color-red-400: #EF4444;
        --color-red-500: #DC2626;
        --color-red-600: #B91C1C;
        --color-red-700: #991B1B;


        --color-blue-100: #DBEAFE;
        --color-blue-200: #BFDBFE;
        --color-blue-300: #93C5FD;
        --color-blue-400: #60A5FA;
        --color-blue-500: #3B82F6;
        --color-blue-600: #2563EB;
        --color-blue-700: #1D4ED8;

        --color-black: #000;
        --color-white: #fff;

        --spacing: .25rem;

        --container-xs: 20rem;
        --container-md: 28rem;
        --container-2xl: 42rem;
        --container-3xl: 48rem;
        --container-4xl: 56rem;
        --container-5xl: 64rem;
        --container-6xl: 72rem;

        --text-xs: .75rem;
        --text-xs--line-height: calc(1 / .75);
        --text-sm: .875rem;
        --text-sm--line-height: calc(1.25 / .875);
        --text-base: 1rem;
        --text-lg: 1.125rem;
        --text-xl: 1.25rem;
        --text-2xl: 1.5rem;

        --font-weight-normal: 400;
        --font-weight-medium: 500;

        --tracking-tight: -.025em;
        --tracking-wide: .025em;
        --tracking-wider: .05em;
        --tracking-widest: .1em;
        --leading-relaxed: 1.625;

        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        --default-font-family: var(--font-sans);
        --default-font-feature-settings: var(--font-sans--font-feature-settings);
        --default-font-variation-settings: var(--font-sans--font-variation-settings);
        --default-mono-font-family: var(--font-mono);
        --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
        --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
    }
}

:root {
    --font-size: 16px;
    --background: #fff;
    --foreground: oklch(.145 0 0);
    --card: #fff;
    --card-foreground: oklch(.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(.145 0 0);
    --primary: #030213;
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(.95 .0058 264.53);
    --secondary-foreground: #030213;
    --muted: #ececf0;
    --muted-foreground: #717182;
    --accent: #e9ebef;
    --accent-foreground: #030213;
    --destructive: #d4183d;
    --destructive-foreground: #fff;
    --border: #0000001a;
    --input: transparent;
    --input-background: #f3f3f5;
    --switch-background: #cbced4;
    --font-weight-medium: 700;
    --font-weight-normal: 600;
    --ring: oklch(.708 0 0);
    --chart-1: oklch(.646 .222 41.116);
    --chart-2: oklch(.6 .118 184.704);
    --chart-3: oklch(.398 .07 227.392);
    --chart-4: oklch(.828 .189 84.429);
    --chart-5: oklch(.769 .188 70.08);
    --radius: .625rem;
    --sidebar: oklch(.985 0 0);
    --sidebar-foreground: oklch(.145 0 0);
    --sidebar-primary: #030213;
    --sidebar-primary-foreground: oklch(.985 0 0);
    --sidebar-accent: oklch(.97 0 0);
    --sidebar-accent-foreground: oklch(.205 0 0);
    --sidebar-border: oklch(.922 0 0);
    --sidebar-ring: oklch(.708 0 0);
    --text-2xl: 3rem;
    --text-xl: 2rem;
    --text-lg: 1.5rem;
    --text-base: 1rem;
}

.dark {
    --background: oklch(.145 0 0);
    --foreground: oklch(.985 0 0);
    --card: oklch(.145 0 0);
    --card-foreground: oklch(.985 0 0);
    --popover: oklch(.145 0 0);
    --popover-foreground: oklch(.985 0 0);
    --primary: oklch(.985 0 0);
    --primary-foreground: oklch(.205 0 0);
    --secondary: oklch(.269 0 0);
    --secondary-foreground: oklch(.985 0 0);
    --muted: oklch(.269 0 0);
    --muted-foreground: oklch(.708 0 0);
    --accent: oklch(.269 0 0);
    --accent-foreground: oklch(.985 0 0);
    --destructive: oklch(.396 .141 25.723);
    --destructive-foreground: oklch(.637 .237 25.331);
    --border: oklch(.269 0 0);
    --input: oklch(.269 0 0);
    --ring: oklch(.439 0 0);
    --font-weight-medium: 500;
    --font-weight-normal: 400;
    --chart-1: oklch(.488 .243 264.376);
    --chart-2: oklch(.696 .17 162.48);
    --chart-3: oklch(.769 .188 70.08);
    --chart-4: oklch(.627 .265 303.9);
    --chart-5: oklch(.645 .246 16.439);
    --sidebar: oklch(.205 0 0);
    --sidebar-foreground: oklch(.985 0 0);
    --sidebar-primary: oklch(.488 .243 264.376);
    --sidebar-primary-foreground: oklch(.985 0 0);
    --sidebar-accent: oklch(.269 0 0);
    --sidebar-accent-foreground: oklch(.985 0 0);
    --sidebar-border: oklch(.269 0 0);
    --sidebar-ring: oklch(.439 0 0);
}