@import 'tailwindcss';
@import './theme.css';

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer components {
  .card {
    @apply overflow-hidden border-6 border-black bg-white shadow-[8px_8px_0px_0px_rgba(0,0,0,1)];
    border-radius: var(--radius);
  }
  .rounded {
    border-radius: var(--radius);
  }
}
