@import 'tailwindcss';
@import './theme.css';

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@utility rounded {
  border-radius: 0.5rem;
}
